<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
     >
<head>
    <title>Cadastro de Filmes</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="card mt-5">
    <div class="container-fluid">
        <h1>Cadastro de filme</h1>

    <div class="card-body">
    <form method="post" action="/filmes">
        <input type="hidden" name="_method" value="put" th:if="${filme != null}">
        <input type="hidden" name="id" th:value="${filme?.id}">
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="nome">Nome:</label>
                    <input  class="form-control" id="nome" name="nome" th:value="${filme?.nome}">
                </div>
                <div  class="col-md-6">
                    <label for="duracao">Duração (em minutos):</label>
                    <input  class="form-control" id="duracao" name="duracao" th:value="${filme?.duracaoEmMinutos}">
                </div>
            </div>
            <div class="mb-3 row">
                <div  class="col-md-6">
                    <label for="ano">Ano de lançamento:</label>
                    <input  class="form-control" id="ano" name="ano" th:value="${filme?.anoLancamento}">
                </div>
                <div  class="col-md-6">
                    <label for="genero">Gênero:</label>
                    <input  class="form-control" id="genero" name="genero" th:value="${filme?.genero}">
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
            <a class="btn btn-secondary" href="/filmes">Voltar</a>
        </form>
    </div>
    </div>
    </div>
</div>
</body>
</html>